body, html{
    margin: 0;
    font: 16px "Lato", Arial, Helvetica, sans-serif;
    color: #777;
    height: 100%;
  }

.conteudo {
    color: #777;
    background-color: white;
    text-align: justify;
    padding: 50px 80px;
}

h3{
    text-transform: uppercase;
    color: #111;
    text-align: center;
}

p{
  margin-bottom: 20px;
}
/* efeito parallax */

.caixa1, .caixa2, .caixa3, .caixa4{
  position: relative;
  height: 100%;
  opacity: 0.7;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.caixa1{
  background-image: url(imagens/imagem1.jpg);
}

.caixa2{
    background-image: url(imagens/imagem2.jpg);
  }

  .caixa3{
    background-image: url(imagens/imagem3.jpg);
  }
 
  .caixa4{
    background-image: url(imagens/imagem4.jpg);
  }
  
  .conteudo-titulo{
    position: absolute;
    left: 0;
    width: 100%;
    top: 45%;
    text-align: center;
  }

  .conteudo-titulo span.titulo{
    color: white;
    background-color: #111;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 5px;
    text-transform: uppercase;
  }